# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# Distribution / packaging
dist/
VeriFacturation.egg-info/
publish.py

# Configuration de pyinstaller
config pyinstaller.json

# Others
launch.py
Paramètres.json